img {
  width: 200px;
  height: 200px;
  position: relative
}
body {
  background-color: #050522;

}
.btn {
  display: flex;
  padding: auto;
}

.sliding-button { 
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;  
  background-color:#dcdcff;
  margin: 10px 20px;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;

}
